* {
  margin: 0;
  padding: 0;

  font-family: "Noto Sans Display", sans-serif;
  box-sizing: border-box;
}

html {
  color: #eee;
}

/*emepieza reusable*/

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-header {
  text-align: center;
  margin-top: 10rem;
}

.section-header h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.section-header h1::before,
.section-header h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}
.section-header h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.section-header h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}
.section-header h6 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.has-margin-right {
  margin-right: 5rem;
}
/*termina reusable*/

.main-header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../Imagenes/bg2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
}

nav img {
  width: 50px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 2px 12px;
  position: relative;
}
.nav-links ul li a {
  color: darkblue;
  text-decoration: none;
  font-size: 25px;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
}

.carousel-container {
  width: 60%;
  margin: auto;
  overflow: hidden;
  margin-top: 100px;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

/*emepieza about me*/
.about-me .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}
.about-heading h1 {
  font-size: 6rem;
  opacity: 0.3;
}
.about-heading h6 {
  font-size: 4rem;
  font-weight: 300;
}

.profile-pic {
  flex: 1;
  margin-top: 3rem;
  margin-right: 5rem;
  margin-left: 0px;
}

.about-details {
  flex: 1;
}

.about-details h3 {
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}

.about-details li,
p {
  font-size: 30px;
  margin-right: 20px;
}
/*Termina about me */

/*Empieza experience*/
.experience-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.experience-item:last-child {
  margin-bottom: 0;
}

.experience-img {
  flex: 1;
}

.imageexp {
  width: 100%;
  height: auto;
}

.experience-description {
  flex: 1;
}

.experience-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.75;
}

.experience-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.experience-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #f44336;
  transition: color 650ms;
}

.experience-description .cta::hover {
  color: lightcoral;
}

/*Termina experience*/
